div.my-work{
	width: calc(50% - 32px);
	padding: 0 15px;
	float: left;
}
div.my-orders{
	float: right;
	width: calc(50% - 31px);
	padding: 0 15px;
}
#container a{
	color: white;
}
#body a{
	color: #dd4814;
}
div.one_note{
	padding: 5px;
	margin: 5px 0 10px 0;
	box-shadow: 0 0 1em #ddd;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
table{
	width: 100%;
}